.btn-container{
    width: 100px;
    height: 100px;
    background: #121212;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    border: solid rgb(0, 132, 255) 2px;
}

.btn-container:hover{
    background-color: rgb(13, 194, 240);
}
.image{
    width: 50%;
    height: 50%;
}
h1{
    font-size: 50px;
}